<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            {% if 'logged_in' in session %}
                <!-- Dashboard and Logout visible after login -->
                <li>
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <!-- Signup visible only for admin -->
                {% if session.get('is_admin') %}
                    <li><a href="{{ url_for('signup') }}">Signup User</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>

            {% else %}
                <!-- Login visible only when not logged in -->
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    
    <!-- Home Content -->
    <div class="content">
        <h1>Welcome to the University License Plate Management System</h1>
        <p>This system allows university students, faculty, and staff to register, update, and manage their vehicle license plates seamlessly.</p>
    </div>
</body>
<footer.html/>
{% include 'footer.html' %}
</html>